/* css/main.css */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

:root {
  --brand-purple: #4a3096;
  --brand-white: #ffffff;
  --brand-yellow: #ffc72c;

  --main-font: "Space Grotesk", sans-serif;

  --pill-radius: 100px;
  --pill-padding: 10px 36px;
  --link-padding: 5px 10px;
  --transition: 0.3s ease;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

/* Header */
.header__wrapper {
  position: relative;
  background-color: var(--brand-white);
  height: 130px;
}
.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__inner {
  background-color: var(--brand-purple);
  border-radius: var(--pill-radius);
  padding: var(--pill-padding);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header__logo--link {
  text-decoration: none;
  font-weight: inherit;

  background: linear-gradient(
    90deg,
    var(--brand-yellow) 50%,
    var(--brand-white) 50%
  );

  background-size: 200% 100%;
  background-position: 100% 0;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  transition: background-position 0.4s ease;
}

.header__logo--link:hover {
  background-position: 0 0;
}

.header__link {
  color: var(--brand-white);
  font-weight: 500;
  font-size: 1rem;
  padding: var(--link-padding);
  transition: var(--transition);
}

.header__link:hover {
  color: var(--brand-yellow);
}
.header__search {
  background-color: var(--brand-white);
  border-radius: 25px;
  padding: 4px 6px 4px 15px;
  margin-right: 20px;
}

.header__search--input {
  border: none;
  outline: none;
  font-size: 0.85rem;
  margin-left: 1rem;
  width: 160px;
}
.header__search--btn {
  background-color: var(--brand-purple);
  color: var(--brand-white);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.header__icon {
  color: var(--brand-white);
  cursor: pointer;
  font-size: 1.1rem;
  margin-right: 0.8rem;
  transition: var(--transition);
}
.header__search--btn:hover,
.header__icon:hover {
  color: var(--brand-yellow);
}

/* Hero */
.hero {
  position: relative;
}

.hero__image {
  min-height: 500px;
  object-fit: cover;
}

.hero__search {
  background-color: var(--brand-white);
  padding: 12px 20px; 
  border-radius: var(--pill-radius);
  display: flex;
  flex-wrap: wrap;     
  justify-content: center;
  gap: 10px;           
}
.hero__overlay {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 90%;
  max-width: 900px; 
}
.hero__search {
  background-color: var(--brand-white);
  padding: 14px 36px;
  border-radius: var(--pill-radius);
}


.hero__search--group {
  display: flex;
  align-items: center;
  flex: 1;
}
.hero__input {
  border: none;
  outline: none;
  flex: 1 1 200px;    
  min-width: 150px;   
}

.hero__divider {
    width: 1px;
    height: 35px;
    background: #9c9c9c;
    margin: 0 25px;
}
.hero__submit--btn {
  border: none;
  background-color: var(--brand-purple);
  width: 45px;
  height: 45px;
  color: var(--brand-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
   flex-shrink: 0;
}

@media (max-width: 576px) {
  .hero__divider {
    display: none; 
  }
}

@media (max-width: 576px) {
  .hero__submit--btn i {
    font-size: 18px;  
  }
}